secret_token=token

database_dsn=postgres://user:password@postgres:port/name
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=name

base_url=https://example.com

cors_config__allow_origins=["https://example.com"]
cors_config__allow_methods=["GET", "POST", "PUT", "PATCH", "DELETE", "OPTIONS"]
cors_config__allow_headers=["Authorization", "Content-Type", "Accept"]
cors_config__allow_credentials=True
