secret_token=token

telegram_token=123456789:AAE1234567890
telegram_log_chat_id=chat_id

database_dsn=postgres://user:password@postgres:port/name
database_pool_size=3

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=name

base_url=https://example.com

cors_config__allow_origins=["https://example.com"]
cors_config__allow_methods=["GET", "POST", "PUT", "PATCH", "DELETE", "OPTIONS"]
cors_config__allow_headers=["Authorization", "Content-Type", "Accept"]
cors_config__allow_credentials=True
